.hero-body {
  background-image: url('https://emilylouiseheardart.files.wordpress.com/2014/06/sky-sunset-background-156058.jpg');
  background-size: cover;
  background-color: black;
  opacity: 80%;
}

.homepage-text {
  color: white;
}